# ignore:
/private
/RTOS/FreeRTOS/Example/*
/AD_/History/*
~*.*
# except:
!/RTOS/FreeRTOS/Example/*.uvprojx
!/RTOS/FreeRTOS/Example/FreeRTOS
!/RTOS/FreeRTOS/Example/Startup
!/RTOS/FreeRTOS/Example/System
!/RTOS/FreeRTOS/Example/User